<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>Страница администратора</title>
        <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div>
<form method="post">
    <input type="text" name="name" placeholder="Введите название игры" />
    <input type="number" name="creationDate" placeholder="Введите дату создания игры">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

    <button type="submit" class="pushable">
  <span class="front">
      Добавить в БД
  </span>
    </button>
</form>
</div>
<div>
</div>
<!--Фильтр:-->
<!--<form method="post" action="/admin/filter">-->
<!--   <input type="text" name="filter">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--</form>-->
<p4>Список игр:</p4>
    <table>
        <thead>
        <th>ID</th>
        <th>Название товара</th>
        <th>Цена</th>
        <th>Редактирование</th>
        </thead>
        <tbody>
    {{#messages}}
        <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{creationDate}}</td>
        <td><a href ="/admin/games/{{id}}">Редактировать</a></td>
        </tr>
    {{/messages}}
    </tbody>
    </table>
<p3>Список пользователей:</p3>
<table>
    <thead>
    <th>Имя</th>
    <th>Роль</th>
    <th>Статус</th>
    <th>Редактирование</th>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{roles}}</td>
            <td>{{active}}</td>
            <td><a href="/admin/{{id}}">Редактировать</a></td>
<!--            <td>-->
<!--                <form>-->
<!--                    <button type="submit">Удалить</button>-->
<!--                    <input name="_method" type="hidden" value="DELETE" />-->
<!--                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    {{/users}}
    </tbody>
</table>
<!--<form action="/logout" method="post">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
<!--    <button type="submit" class="pushable">-->
<!--  <span class="front">-->
<!--Выйти-->
<!--  </span>-->
<!--    </button>-->
<!--</form>-->

</body>
</html>