<!DOCTYPE html>
<htmL>
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<div>
<form method="post">
    <input type="text" name="name" placeholder="Введите название игры" />
    <input type="number" name="creationDate" placeholder="Введите дату создания игры">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Добавить в БД</button>
</form>
</div>
<div>
<form action="/logout" method="post">
    <input type="submit" value="Sign out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
</div>
<form method="post" action="/admin/filter">
   <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
    <div>Список игр</div>
    {{#messages}}
        <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{creationDate}}</i>
        </div>
    {{/messages}}

Список пользователей:
<table>
    <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Active</th>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{roles}}</td>
            <td>{{active}}</td>
            </td>
            <td><a href={{id}}>edit</a></td>
        </tr>
    {{/users}}
    </tbody>
</table>
</body>
</html>