<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Добро пожаловать</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="container">
    <header class="text-center mb-4" style="width:80%"></header>
    <h1>Добро пожаловать</h1>
</div>
<div class="text-center mb-4" style="display:flex; flex-direction: row; align-items: center; justify-content: center">
<button class="pushable">

    <a href="/registration"></a>

</button>
<button class="pushable">
  <span class="front">
      <a href="/registration">Зарегистрироваться</a>
  </span>
</button>
<button class="pushable">
  <span class="front">
     <a href="/login">Авторизироваться</a>
  </span>
</button>
</div>

</body>
</html>